<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:postgresql://ec2-54-225-107-174.compute-1.amazonaws.com:5432/df2srn1cm5n0r3?sslmode=require
        </property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">xharwkdozqjnlk</property>
        <property name="connection.password">21bbd1562d2783ca658ac97322520f2ff4fa49a2eece4f7e5da2cad16561c7dc</property>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>
        
        <mapping class="com.fahamutech.af.database.Index"/>
        <mapping class="com.fahamutech.af.database.SentMessage"/>
        <mapping class="com.fahamutech.af.database.ReceivedMessage"/>

    </session-factory>
</hibernate-configuration>